body {
	margin: 0;
}

.container {
	padding: 0 64px;
	content-align: center;

	@media screen and (max-width: $screen_small) {
		padding: 0 24px;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $screen_small) {
		display: block;
	}
}