footer {
	position: relative;
	top: 100vw;
	background-color: $color_text;
	width: 100%;
	min-height: 200px;
	padding-top: 24px;

	& .container {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
		height: 100%;
	}
}

.footer-list {
	& h6 {
		font-size: 24px;
		margin: 0;
		color: $color_base;
	}

	& hr {
		margin-top: 0;
		margin-bottom: 8px;
		color: $color_base;
		background-color: $color_base;
	}

	padding-bottom: 24px;
	padding-right: 24px;
	color: $color_base;

	& a {
		color: $color_base;
	}
}

.footer-desc {
	max-width: 66%;
	color: $color_base;
}