.post-list-title {
	margin: 12px 0;
	padding: 0;
}

.post-details {
	display: flex;
	justify-content: space-between;
	margin: 12px 0;
}

.post-excerpt p {
	overflow: hidden;
	text-overflow: ellipsis;
}